
@model StoreLib.Models.ReturnOrderVm


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
    <script type='text/javascript' src='~/Scripts/knockout-3.4.2.js'></script>

</head>
<body>


    <h2> Checkout Thank you for your purchase!  </h2>
    <h3> Your order number is </h3>  @Html.Raw( Model.OrderId)
    <h3> Your total is  </h3> 
    <h3 data-bind="html: OrderId"></h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Product ID</th>
                <th scope="col">Quantity </th>
                <th scope="col"> Total</th>
            </tr>
        </thead>
        <tbody id="update-products">
            
            @foreach (var item in Model.Items)
            {
                <tr>

                    <td>@Html.Raw(item.Name) </td>

                    <td>@Html.Raw(item.Quantity)</td>
                    <td>@Html.Raw(item.Price)</td>
             

                </tr>
            }
            </tbody>
    </table>

    



    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/knockout")
        <script type="text/javascript">
            //getting the info posted from DB
            ///////////////////////////////  //seeing if this is the issue //////////////////////////////////////
           
        

        </script>
    }
</body>     
</html>